# Python cache
__pycache__/
*.pyc
*.pyo

**/__pycache__/
*.pyc

# Entorno virtual
venv/
.env

# Editor
.vscode/

# Python version manager
.python-version

# Logs (por si agregás después)
*.log

# OS
.DS_Store
Thumbs.db

tests/docs/
*.pdf
tests/__pycache__/__init__.cpython-312.pyc
tests/__pycache__/__init__.cpython-312.pyc
tests/__pycache__/test_ai_service.cpython-312-pytest-8.0.0.pyc
tests/__pycache__/test_ai_service.cpython-312.pyc
*.pyc
tests/__pycache__/test_ai_service.cpython-312.pyc
tests/__pycache__/__init__.cpython-312.pyc
__pycache__/config.cpython-312.pyc
tests/__pycache__/__init__.cpython-312.pyc
tests/__pycache__/test_ai_service.cpython-312-pytest-8.0.0.pyc
tests/__pycache__/test_ai_service.cpython-312-pytest-8.0.0.pyc
